.test_image_and_result{
    background-color: grey;
    width:800px;
    height: 300px;
    margin-left: 150px;
    border-radius: 20px;
    margin-top: 30px;
    width:1000px;
    
}

.test_image_and_result2{
    background-color: grey;
    width:800px;
    height: 300px;
    margin-left: 220px;
    border-radius: 20px;
    margin-top: 30px;
}

.test_image_and_result3{
    background-color: grey;
    width:800px;
    height: 300px;
    margin-left: 220px;
    border-radius: 20px;
    margin-top: 30px;
}

.test_image_and_result4{
    background-color: grey;
    width:800px;
    height: 300px;
    margin-left: 220px;
    border-radius: 20px;
    margin-top: 30px;
}

.test_image_and_result5{
    background-color: grey;
    width:800px;
    height: 300px;
    margin-left: 220px;
    border-radius: 20px;
    margin-top: 30px;
}

.img-responsive{
    height:170px;
    width:170px;
}








